<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>NU Pharmacy</title>
</head>
<body>
    <header>
        <div class="left-section">
            <img src="{{ url_for('static', filename='logo-1.png') }}" alt="Pharmacy Logo" class="logo">
            <h1>NU Pharmacy</h1>
        </div>
        <div class="mid-section">
            <form method="GET" action="{{ url_for('search') }}">
                <input type="text" name="query" placeholder="Search medicines...">
                <button type="submit">Search</button>
            </form>
        </div>
        
        <div class="cart-section">
            <button id="cart-button">Cart (0)</button>
            <div id="cart-dropdown" style="display: none;">
                <ul id="cart-items"></ul>
                <button id="checkout-button">Checkout</button>
            </div>
        </div>
        
        
    </header>

    <main>
        <section class="medicine-list">
            {% if medicines %}
                {% for medicine in medicines %}
                    <div class="medicine-item">
                        <h2>{{ medicine.drugname }}</h2>
                        <p>Price: {{ medicine.price }} EGP</p>
                        <p>Form: {{ medicine.form }}</p>
                        <p>Category: {{ medicine.category }}</p>
                        <button>Add to Cart</button>
                    </div>
                {% endfor %}
            {% else %}
                <p>No medicines found.</p>
            {% endif %}
        </section>        
    </main>

    <footer>
        <p>&copy; 2024 Pharmacy</p>
    </footer>
</body>
</html>
